-
  var mainMenu = [
    {
      "id": "0",
      "name": "HOME",
      "url": "#id_home"
    },
    {
      "id": "1",
      "name": "LIVE",
      "url": "#id_livedates"
    },
    {
      "id": "2",
      "name": "ALBUMS",
      "url": "#id_albums"
    },
    {
      "id": "3",
      "name": "NEWS",
      "url": "#id_news"
    },
    {
      "id": "4",
      "name": "ABOUT",
      "url": "#id_about"
    },
  ];
