-
  var mainMenu = [
    {
      "id": "0",
      "name": "HOME",
      "url": "/"
    },
    {
      "id": "1",
      "name": "LIVE",
      "url": "/"
    },
    {
      "id": "2",
      "name": "ALBUMS",
      "url": "/"
    },
    {
      "id": "3",
      "name": "NEWS",
      "url": "/"
    },
    {
      "id": "4",
      "name": "ABOUT",
      "url": "/"
    },
  ];
