//- Все примеси в этом файле должны начинаться c имени блока (album-livedates)

mixin album-livedates(text, mods)

  //- Принимает:
  //-   text    {string} - текст
  //-   mods    {string} - список модификаторов
  //- Вызов:
        +album-livedates('Текст', 'some-mod')

  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' album-livedates--' + modsList[i].trim();
      }
    }

  .album-livedates(class=allMods)&attributes(attributes)
    .album-livedates__inner
      block
