// В этом файле должны быть стили для БЭМ-блока page-header, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.page-header {
    &__inner {
        position: fixed;
        z-index: 25;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 140px;
        padding-left: 28px;
        padding-right: 70px;
        transition: 0.6s;
    }
    &__nav {
        display: flex;
        // &--overlay {
        //     display: flex;
        //     flex-direction: column;
        //     justify-content: center;
        //     position: fixed;
        //     align-items: center;
        //     background: #2A3140;
        //     top: 0;
        //     right: 0;
        //     width: 100vw;
        //     height: 100vh;
        //     transform-origin: right top;
        //     transition: all .4s ease-in-out;
        //     overflow: hidden;
        //     opacity: .99;
        //     visibility: visible;
        //     transform: scale(1);
        // }
    }
    &__inner--navShadow {
        background-color: rgba(0,0,0,0.65);
        height: 50px;
        transition: 0.6s;
    }
    
}
