// В этом файле должны быть стили для БЭМ-блока btn, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.btn {
  box-sizing: border-box;
  display: inline-block;
  max-width: 100%;
  margin: 0;
  border-radius: $border-radius;
  // border: 1px solid $gray-lighter;
  border: 0;
  padding: $field-padding-vertical  $field-padding-horizontal;
  vertical-align: middle;
  white-space: nowrap;
  text-overflow: ellipsis;
  user-select: none;
  text-align: center;
  font-size: 1em;
  font-family: inherit;
  line-height: $line-height;
  text-decoration: none;
  text-transform: none;
  color: $text-color;
  background-color: $gray-lightest;
  background-image: none;
  cursor: pointer;
  overflow: hidden;

  &:hover,
  &:focus {
    text-decoration: none;
    color: $text-color;
    background-color: darken($gray-lightest, 10%);
    // border-color: darken($gray-lighter, 12%);
  }

  // &:visited {
  //   color: $text-color;
  // }

  &:active,
  &:focus {
    @include field-focus;
  }

  &--disabled,
  &:disabled {
    opacity: $opacity;
    cursor: not-allowed;
    color: $text-color;
    background-color: $gray-lightest;
    // border-color: $gray-lighter;

    @at-root a.btn--disabled {
      pointer-events: none;
    }
  }

  &--page-slides__btns_find {
    padding: 0;
    color: #fff;
    width: 280px;
    height: 80px;
    border: 4px solid rgba(255, 255, 255, .7);
    background-color: transparent;
    line-height: 1.67;
    letter-spacing: 3.6px;
    text-align: center;
    font-family: Barlow-Bold;
    @media (max-width: 1150px) and (min-width: 916px) {
      width: 200px;
      height: 60px;
    }
    @media (max-width: 915px) and (min-width: 671px) {
      width: 200px;
      height: 60px;
    }
    @media (max-width: 670px) {
      width: 135px;
      height: 40px;
      font-size: 10px;
    }
  }
  &--page-slides__btns_play {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 92px;
    height: 92px;
    padding: 0;
    border-radius: 50%;
    background-color: transparent;
    margin-left: 30px;
    @media (max-width: 1150px) and (min-width: 916px) {
      width: 80px;
      height: 80px;
    }
    @media (max-width: 915px) and (min-width: 671px) {
      width: 80px;
      height: 80px;
    }
    @media (max-width: 670px) {
      width: 40px;
      height: 40px;
    }
  }
  &--page-slides__btns_find:hover,
  &--page-slides__btns_play:hover,
  &--livedates__btns_find:hover,
  &--page-news__btn:hover,
  &--field-actions__btn:hover {
    background-color: #012572;
    color: #fff;
  }
  &--livedates__btns_find {
    padding: 0;
    color: #fff;
    width: 200px;
    height: 64px;
    border: 2px solid rgba(255, 255, 255, .5);
    background-color: transparent;
    text-transform: uppercase;
    line-height: 1.67;
    letter-spacing: 3.6px;
    text-align: center;
    font-family: Barlow-Bold;
    font-size: 14px;
    margin-left: 98px;
    @media (max-width: 670px) {
      margin-left: 0;
      width: 200px;
      height: 30px;
      position: absolute;
      bottom: 5px;
      left: 50%;
      margin-left: -100px;
    }
  }
  &--livedates__btns_sold,
  &--livedates__btns_sold:hover {
    padding: 0;
    color: #fb516e;
    width: 200px;
    height: 64px;
    text-transform: uppercase;
    border: 2px solid rgba(255, 255, 255, .1);
    background-color: transparent;
    line-height: 1.67;
    letter-spacing: 3.6px;
    text-align: center;
    font-family: Barlow-Bold;
    font-size: 14px;
    margin-left: 98px;
    cursor: default;
    pointer-events: none;
    @media (max-width: 670px) {
      margin-left: 0;
      width: 200px;
      height: 30px;
      position: absolute;
      bottom: 5px;
      left: 50%;
      margin-left: -100px;
    }
  }
  &--livedates__btns_viewAll,
  &--album__btns_viewAll,
  &--page-news__btn_viewAll {
    font-family: Barlow-Medium;
    font-size: 18px;
    color: #fff;
    background-color: transparent;
    border: none;
  }
  &--album__btns_viewAll {
    margin-top: 10px;
  }
  &--livedates__btns_viewAll:hover,
  &--album__btns_viewAll:hover {
    box-shadow: 0px 3px 40px 0 rgba(16, 41, 112, 0.2);
    background-color: #032c9e;
  }
  &--page-news__btn_viewAll {
    padding-top: 32px;
    padding-bottom: 45px;
    padding-left: 75px;
    max-width: 595px;
    width: 100%;
    text-align: left;
  }
  &--page-news__btn_viewAll:hover {
    color: #fff;
    background-color: transparent;
  }
  &--album__smallbtn_1,
  &--album__smallbtn_2,
  &--album__bigbtn_1,
  &--album__bigbtn_2 {
    background-position: center;
    background-size: cover;
    border-radius: 5px;
    img {
      visibility: hidden;
      // display: none;
    }
  }
  &--album__smallbtn_1:hover,
  &--album__smallbtn_2:hover,
  &--album__bigbtn_1:hover,
  &--album__bigbtn_2:hover {
    box-shadow: 0px 3px 54px 0 rgba(0, 0, 0, 0.4);
    img {
      visibility: visible;
    }
  }
  &--album__smallbtn_1,
  &--album__smallbtn_2 {
    width: 340px;
    height: 340px;
  }
  &--album__bigbtn_1,
  &--album__bigbtn_2 {
    width: 430px;
    height: 430px;
  }
  &--album__smallbtn_1 {
    background-image: url('../img/album0.png');
    transform: translateY(-40%);
  }
  &--album__smallbtn_2 {
    background-image: url('../img/album3.png');
    transform: translateY(-6%);
  }
  &--album__bigbtn_1 {
    background-image: url('../img/album1.png');
  }
  &--album__bigbtn_2 {
    background-image: url('../img/album2.png');
    margin-top: 30px;
  }
  &--album__smallbtn_1:hover{
    background-image: linear-gradient(rgba(27, 37, 80,.6), rgba(27, 37, 80,.6)), url('../img/album0.png');
  }
  &--album__smallbtn_2:hover {
    background-image: linear-gradient(rgba(27, 37, 80,.6), rgba(27, 37, 80,.6)), url('../img/album3.png');
  }
  &--album__bigbtn_1:hover {
    background-image: linear-gradient(rgba(27, 37, 80,.6), rgba(27, 37, 80,.6)), url('../img/album1.png');
  }
  &--album__bigbtn_2:hover {
    background-image: linear-gradient(rgba(27, 37, 80,.6), rgba(27, 37, 80,.6)), url('../img/album2.png');
  }
  &--page-news__btn {
    margin-top: 40px;
    padding: 0;
    color: #fff;
    width: 200px;
    height: 64px;
    border: 2px solid rgba(255, 255, 255, .5);
    background-color: transparent;
    // line-height: 2.14;
    letter-spacing: 2.8px;
    text-align: center;
    font-family: Barlow-Bold;
    font-size: 14px;
  }
  &--field-actions__btn {
    margin-top: 0px;
    padding: 0;
    color: #fff;
    width: 400px;
    height: 64px;
    border: 2px solid rgba(255, 255, 255, .5);
    background-color: transparent;
    // line-height: 2.14;
    letter-spacing: 2.8px;
    text-align: center;
    font-family: Barlow-Bold;
    font-size: 14px;
    text-transform: uppercase;
  }
  // @media (min-width: 1200px) {

  // }
  @media (min-width: 1035px) and (max-width: 1200px){
    &--album__smallbtn_1,
    &--album__smallbtn_2,
    &--album__bigbtn_1,
    &--album__bigbtn_2 {
      width: 300px;
      height: 300px;
      // margin: 0 auto;
      // transform: none;
      // margin-top: 15px;
    }
  }
  @media (min-width: 768px) and (max-width: 1035px){
    &--album__smallbtn_1,
    &--album__smallbtn_2,
    &--album__bigbtn_1,
    &--album__bigbtn_2 {
      width: 200px;
      height: 200px;
      // margin: 0 auto;
      // transform: none;
      // margin-top: 15px;
    }
  }
  @media (max-width: 767px) {
    &--album__smallbtn_1,
    &--album__smallbtn_2,
    &--album__bigbtn_1,
    &--album__bigbtn_2 {
      width: 230px;
      height: 230px;
      margin: 0 auto;
      transform: none;
      margin-top: 15px;
    }
    &--page-news__btn_viewAll {
      font-size: 16px;
    }
  }

  // &__icon {
  //   display: inline-block;
  //   vertical-align: middle;
  // }



  // &--main {
  //   color: #fff;
  //   background-color: $color-main;
  //   // border: 1px solid $color-main;

  //   &:hover,
  //   &:focus {
  //     color: #fff;
  //     background-color: darken($color-main, 10%);
  //     // border-color: darken($color-main, 12%);
  //   }

  //   &--disabled,
  //   &:disabled {
  //     color: #fff;
  //     background-color: $color-main;
  //     // border-color: $color-main;
  //   }
  // }
}
