// В этом файле должны быть стили для БЭМ-блока page-news, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

@import "../../js/slick/slick.scss";
@import "../../js/slick/slick-theme.scss";
@font-face {
  font-family: 'Barlow-Bold';
  src: url('../fonts/Barlow-Bold.otf')
}
@font-face {
  font-family: 'Barlow-SemiBold';
  src: url('../fonts/Barlow-SemiBold.otf')
}
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto.ttf')
}

.page-news {

  $block-name:                &; // #{$block-name}__element

  background-image: url('../img/bg-page-news.png');
  background-position: center;
  background-size: cover;
  margin-top: -185px;
  position: relative;
  z-index: 5;

  &__inner {
    padding-right: 25px;
    padding-left: 25px;
    padding-top: 430px;
    padding-bottom: 410px;
    max-width: 1165px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
  }
  &__slider {
    display: flex;
    max-width: 515px;
    width: 100%;
    margin-left: 95px;
  }
  &__item {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    padding-bottom: 45px;
    padding-left: 70px;
    padding-top: 32px;
    background-color: rgba(2, 104, 180, .8); 
  }
  &__list &__item:hover {
    background-color: rgba(2, 104, 180, 1);
  }
  &__list &__item:first-child:hover,
  &__list &__item:last-child:hover {
    background-color: rgba(72, 187, 168, 1);
  }
  &__item:last-child:hover {
    &::before {
      right: 28%;
      transition: .5s;
    }
  }
  &__item:first-child {
    border-radius: 8px 8px 0 0;
  }
  &__item:last-child {
    position: relative;
    border-radius: 0 0 8px 8px;
    align-items: flex-start;
    // padding-left: 59px;
    padding: 0;
    &::before {
      position: absolute;
      content: url('../../img/right.png');
      top: 35%;
      right: 35%;
    }
  }
  &__btninner {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  // &__arroyRight {
  //   position: absolute;
  //   right: -31px;
  // }
  // &__btninner:hover {
  //   .page-news__arroyRight {
  //     right: -41px;
  //     transition: .5s;
  //   }
  // }
  &__item--active &__btn_mobile {
    display: block;
    position: absolute;
    right: 25px;
    bottom: 5px;
    height: 45px;
  }
  &__btn_mobile {
    display: none;
  }
  &__item:first-child,
  &__item:last-child {
    // background-color: rgba(2, 104, 180, .7);
    background-color: rgba(72, 187, 168, .7);
  }
  &__item:nth-child(3) {
    background-color: rgba(2, 104, 180, .6);
  }
  &__item &__itemDate,
  &__item &__itemContent,
  &__item &__itemContent {
    display: none;
  }
  &__item--active &__itemDate,
  &__item--active &__itemContent {
    display: block;
  }
  &__item--active &__itemTitle {
    font-size: 22px;
  }
  &__prefix {
    font-family: Barlow-Bold;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 3.6px;
    text-align: left;
    color: #fff;
  }
  &__title {
    margin: 0;
    font-family: Barlow-SemiBold;
    font-size: 60px;
    text-align: left;
    color: #fff;
    margin-top: 20px;
  }
  &__date {
    margin-top: 50px;
  }
  &__rectangle {
    width: 146px;
    margin-top: 40px;
  }
  &__date {
    font-family: Barlow-Bold;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 3.2px;
    text-align: left;
    color: #fff;
    margin-top: 50px;
  }
  &__content {
    margin: 0;
    margin-top: 37px;
    font-family: Roboto;
    line-height: 1.67;
    font-size: 18px;
    text-align: left;
    color: #fff;
  }
  &__list {
    // order: 0;
    max-width: 595px;
    width: 100%;
  }
  &__itemDate {
    margin: 0;
    font-family: Barlow-Bold;
    font-size: 13px;
    font-weight: bold;
    line-height: 1.08;
    letter-spacing: 1.3px;
    text-align: left;
    color: #fff;
  }
  &__itemTitle {
    margin: 0;
    margin-top: 17px;
    font-family: Barlow-SemiBold;
    font-size: 22px;
    font-weight: 600;
    // line-height: 0.73;
    text-align: left;
    color: #fff;
  }
  &__itemContent {
    margin: 0;
    margin-top: 19px;
    font-family: Roboto;
    font-size: 16px;
    line-height: 1.5;
    text-align: left;
    color: #5882f5;
  }
  &__item--active::before {
    content: '';
    top: 0px;
    left: -8px;
    position: absolute;
    width: 8px;
    height: 218px;
    background-color: #6aff7f;
  }
  &__item.page-news__item--active {
    padding-right: 75px;
    padding-left: 70px;
    padding-top: 49px;
    padding-bottom: 50px;
    background-color: #032c9e;
    position: relative;
    height: 218px;
    transition: .5s;
    &:hover {
      background-color: #032c9e;
      cursor: auto;
    }
  }
  &__item:first-child.page-news__item--active:hover {
    background-color: #032c9e;
    cursor: auto;
  }
  &__sliderItem {
    position: absolute;
    max-width: 515px;
    transition: all .6s ease-in-out;
    opacity: 0;
    margin-top: -350px;
    display: flex;
    flex-direction: column;
  }
  &__sliderItem--active {
    margin-top: 0px;
		opacity: 1;
		transition: all .6s ease-in-out;
  }
  @media (max-width: 1180px) {
    &__slider {
      display: none;
    }
  }
  @media (max-width: 768px) {
    &__item,
    &__item.page-news__item--active {
      padding: 10px;
    }
    &__item.page-news__item--active {
      &::before {
        display: none;
      }
    }
    &__itemTitle,
    &__item--active .page-news__itemTitle {
      font-size: 16px;
    }
    &__itemContent {
      font-size: 12px;
    }
    &__list {
      padding: 0;
      margin: 0 auto;
    }
    &__item:last-child {
      height: 75px;
      display: flex;
      justify-content: center;
      &::before {
        display: none;
      }
    }
  }
}
