extends ../pug/layout.pug


block meta
  title MI MUSIC
  meta(name='description', content='')

//- block append head
//-   link(rel='stylesheet', href='css/some.css')

block nav
  .page-header__nav
    +main-nav('10')
    +social()
      +social-link('https://www.facebook.com/profile.php?id=100011672930358', 'fb')(title='Facebook')
        img(src="img/facebook.png", alt="")
      +social-link('https://www.facebook.com/profile.php?id=100011672930358', 'tw')(title='Twitter')
        img(src="img/twitter.png", alt="")
      +social-link('https://www.facebook.com/profile.php?id=100011672930358', 'ig')(title='Instagram')
        img(src="img/instagram.png", alt="")
      +social-link('https://www.facebook.com/profile.php?id=100011672930358', 'yt')(title='YouTube')
        img(src="img/youtube.png", alt="")
    div(class='main-nav__toggler' id = 'navToggle')
    //- +burger()(id='navToggle')

block content
  +page-slides()(id='id_home')
    .page-slides__slide
      .page-slides__title
        p NEW TOUR
      h1 UNFORGETTABLE
      p Live tour continues with new international dates just added
      .page-slides__btns
        +btn('FIND TICKETS', 'page-slides__btns_find')
        +btn('', 'page-slides__btns_play')
          img(src='img/play-btn.png', alt='Play button')
        span PLAY ALL SONGS
    .page-slides__slide
      .page-slides__title
        p NEW TOUR
      h1 UNFORGETTABLE
      p Live tour continues with new international dates just added
      .page-slides__btns
        +btn('FIND TICKETS', 'page-slides__btns_find')
        +btn('', 'page-slides__btns_play')
          img(src='img/play-btn.png', alt='Play button')
        span PLAY ALL SONGS
    .page-slides__slide
      .page-slides__title
        p NEW TOUR
      h1 UNFORGETTABLE
      p Live tour continues with new international dates just added
      .page-slides__btns
        +btn('FIND TICKETS', 'page-slides__btns_find')
        +btn('', 'page-slides__btns_play')
          img(src='img/play-btn.png', alt='Play button')
        span PLAY ALL SONGS
  +album-livedates()
    +livedates()(id='id_livedates')
      .livedates__title
        h2 Live Dates
        span ::
      img.livedates__rectangle(src='img/rectangle.jpg', alt='decorate image')
      ul.livedates__list
        +livedates-item({
          day: '21',
          month: 'jan',
          img: 'img/melanie-van-leeuwen.png',
          name: 'Unforgettable: Live',
          description: 'Live show and albums signing',
          place: 'San Francisco, USA',
          time: '8 : 30 PM',
        })
        +livedates-item({
          day: '25',
          month: 'jan',
          img: 'img/john-raptis.png',
          name: 'Unforgettable: Live',
          description: 'Live show and albums signing',
          place: 'San Francisco, USA',
          time: '8 : 30 PM',
        })
        +livedates-item({
          day: '31',
          month: 'jan',
          img: 'img/edward-cisneros.png',
          name: 'Unforgettable: Live',
          description: 'Live show and albums signing',
          place: 'San Francisco, USA',
          time: '8 : 30 PM',
        })
        +livedates-item({
          day: '9',
          month: 'feb',
          img: 'img/william-white.png',
          name: 'Unforgettable: Live',
          description: 'Live show and albums signing',
          place: 'San Francisco, USA',
          time: '8 : 30 PM',
        } , 'sold')
        +livedates-item({
          day: '13',
          month: 'feb',
          img: 'img/maelle-ramsay.png',
          name: 'Unforgettable: Live',
          description: 'Live show and albums signing',
          place: 'San Francisco, USA',
          time: '8 : 30 PM',
        })
      +btn('View all live dates ::', 'livedates__btns_viewAll')
    +album()(id='id_albums')
      .album__title
        h2.album__titleName Listen to MIMUSIC 
        img.album__rectangle(src='img/rectangle-album.png', alt='decorate image')
        p.album__subtitle For all the latest performances find us on Spotify
      .album__albums
        .album__column_1
          +btn('', 'album__smallbtn_1')
            img(src='img/album-play-btn.png', alt='Play button')
            //- <audio src="media/Alan Walker - All Falls Down [midi-mp3.org].mp3" controls></audio>
          .album__rectangle1
          .album__rectangle2
        .album__column_2
          +btn('', 'album__bigbtn_1')
            img(src='img/album-play-btn.png', alt='Play button')
          +btn('', 'album__bigbtn_2')
            img(src='img/album-play-btn.png', alt='Play button')
          img.album__logo(src="./img/logo.png", alt="logo image")
          +btn('View all albums ::', 'album__btns_viewAll')
        .album__column_3
          +btn('', 'album__smallbtn_2')
            img(src='img/album-play-btn.png', alt='Play button')
          .album__rectangle3
          .album__rectangle4
          .album__circle1
          .album__circle2
      .album__circle3
      .album__circle4
      .album__circle5
      .album__circle6
  +page-social()      
    .page-social__nav
      h2.page-social__title Being Social
        span ::
      img.page-social__rectangle(src='img/rectangle.jpg', alt='decorate')
      ul.page-social__list
        li.page-social__listItem
          a(class='page-social__listLink page-social__listLink--active', href="#") all
        li.page-social__listItem
          a.page-social__listLink(href="#") facebook
        li.page-social__listItem
          a.page-social__listLink(href="#") twitter
        li.page-social__listItem
          a.page-social__listLink(href="#") youtube
        li.page-social__listItem
          a.page-social__listLink(href="#") instagram
    +page-social-item({
      id: '1',
      title: 'Allan Walker - All Falls Downs (MI Music Remix)',
      link: 'https://www.youtube.com/watch?v=6RLLOEzdxsM',
      socialtype: 'youtube',
      name: 'MI MUSIC',
      date: '10 Jan 2018',
    }, 'min')
    +page-social-item({
      id: '2',
      image: './img/page-social-image-1.png',
      text: 'Customers make decisions in seconds. How the right tools & data can #MakeItAnExperience in the moments that matter: ',
      socialtype: 'facebook',
      link: 'https://adobe.ly/2CY2Tx3',
      name: 'MI MUSIC',
      date: '10 Jan 2018',
    })
    +page-social-item({
      id: '3',
      image: './img/page-social-image-2.png',
      text: 'Customers make decisions in seconds. How the right tools & data can #MakeItAnExperience in the moments that matter: ',
      socialtype: 'twitter',
      link: 'https://adobe.ly/2CY2Tx3',
      name: 'MI MUSIC',
      date: '10 Jan 2018',
    })
    +page-social-item({
      id: '4',
      title: 'Allan Walker - All Falls Downs (MI Music Remix)',
      link: 'https://www.youtube.com/watch?v=6RLLOEzdxsM',
      socialtype: 'youtube',
      name: 'MI MUSIC',
      date: '10 Jan 2018',
    }, 'min')
  +page-news()(id='id_news')
    ul.page-news__list
      +page-news-item({
        id: '1',
        date: '20 jan, 2018',
        title: "Uk Gambling Crisis - Who's To Blame?",
        content: 'Sometimes there is a news story that has a power that reaches beyond the material facts...',
      })
      +page-news-item({
        id: '2',
        date: '20 jan, 2018',
        title: 'Pete talks about live on tour',
        content: 'Sometimes there is a news story that has a power that reaches beyond the material facts...',
      }, 'active')
      +page-news-item({
        id: '3',
        date: '20 jan, 2018',
        title: "Uk Gambling Crisis - Who's To Blame?",
        content: 'Sometimes there is a news story that has a power that reaches beyond the material facts...',
      })
      +page-news-item({
        id: '4',
        date: '20 jan, 2018',
        title: "Uk Gambling Crisis - Who's To Blame?",
        content: 'Sometimes there is a news story that has a power that reaches beyond the material facts...',
      })
      li.page-news__item 
        //- .page-news__btninner 
        +btn('View all latest news ::', 'page-news__btn_viewAll')(href='/')
        //- img.page-news__arroyRight(src="img/right.png", alt="")
        //- a(class='page-news__link' href='/') View all latest news ::
      
    div(class='page-news__slider' id='slider')
        +page-news-sliderItem({
          id: '1',
          prefix: 'EXCLUSIVE',
          title: 'Pete talks about live on tour',
          rectangle: 'img/rectangle.jpg',
          date: 'JAN 20, 2018',
          content: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.'
        })
        +page-news-sliderItem({
          id: '2',
          prefix: 'EXCLUSIVE',
          title: 'Pete talks about live on tour',
          rectangle: 'img/rectangle.jpg',
          date: 'JAN 20, 2018',
          content: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.'
        }, 'active')
        +page-news-sliderItem({
          id: '3',
          prefix: 'EXCLUSIVE',
          title: 'Pete talks about live on tour',
          rectangle: 'img/rectangle.jpg',
          date: 'JAN 20, 2018',
          content: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.'
        })
        +page-news-sliderItem({
          id: '4',
          prefix: 'EXCLUSIVE',
          title: 'Pete talks about live on tour',
          rectangle: 'img/rectangle.jpg',
          date: 'JAN 20, 2018',
          content: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.'
        })

block footer
  h3.page-footer__title Sign Up For Exclusives
  img.page-footer__rectangle(src="img/rectangle.jpg", alt="decorate")
  span.page-footer__subtitle Sign up for latest news, exclusive offers and ticket pre-sales.
  //- form(action="")
  +form()
    +field-text({
      attrs: {placeholder: 'NAME'}
    })
    +field-text({
      attrs: {
        placeholder: 'email',
        type: 'email',
        require: true,
        'data-check-pattern': '[a-z0-9!#$%&\'*+/=?^_`{|}~-]+(?:\\.[a-z0-9!#$%&\'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?'}
    })
    +field-actions()
      +btn('sign up now', 'field-actions__btn')(type="submit")
  .page-footer__logo
    .page-footer__logoBack
      p.page-footer__logo.page-footer__logo--name MI
    p.page-footer__logo.page-footer__logo--subname MUSIC.
  ul.page-footer__nav
    li.page-footer__item
      a.page-footer__link HOME
    li.page-footer__item
      a.page-footer__link LIVE
    li.page-footer__item
      a.page-footer__link ALBUMS
    li.page-footer__item
      a.page-footer__link NEWS
    li.page-footer__item
      a.page-footer__link ABOUT
  ul.page-footer__social
    li.page-footer__socitem
      a.page-footer__link
        .page-footer__linkInner
          <svg class="page-footer__svg" viewBox="0 0 448 512"><path d="M400 32H48A48 48 0 0 0 0 80v352a48 48 0 0 0 48 48h137.25V327.69h-63V256h63v-54.64c0-62.15 37-96.48 93.67-96.48 27.14 0 55.52 4.84 55.52 4.84v61h-31.27c-30.81 0-40.42 19.12-40.42 38.73V256h68.78l-11 71.69h-57.78V480H400a48 48 0 0 0 48-48V80a48 48 0 0 0-48-48z"></svg>
    li.page-footer__socitem
      a.page-footer__link
        .page-footer__linkInner
          <svg class="page-footer__svg" viewBox="0 0 512 512"><path fill="currentColor" d="M459.37 151.716c.325 4.548.325 9.097.325 13.645 0 138.72-105.583 298.558-298.558 298.558-59.452 0-114.68-17.219-161.137-47.106 8.447.974 16.568 1.299 25.34 1.299 49.055 0 94.213-16.568 130.274-44.832-46.132-.975-84.792-31.188-98.112-72.772 6.498.974 12.995 1.624 19.818 1.624 9.421 0 18.843-1.3 27.614-3.573-48.081-9.747-84.143-51.98-84.143-102.985v-1.299c13.969 7.797 30.214 12.67 47.431 13.319-28.264-18.843-46.781-51.005-46.781-87.391 0-19.492 5.197-37.36 14.294-52.954 51.655 63.675 129.3 105.258 216.365 109.807-1.624-7.797-2.599-15.918-2.599-24.04 0-57.828 46.782-104.934 104.934-104.934 30.213 0 57.502 12.67 76.67 33.137 23.715-4.548 46.456-13.32 66.599-25.34-7.798 24.366-24.366 44.833-46.132 57.827 21.117-2.273 41.584-8.122 60.426-16.243-14.292 20.791-32.161 39.308-52.628 54.253z"></path></svg>
    li.page-footer__socitem
      a.page-footer__link
        .page-footer__linkInner
          <svg class="page-footer__svg" viewBox="0 0 448 512"><path fill="currentColor" d="M224.1 141c-63.6 0-114.9 51.3-114.9 114.9s51.3 114.9 114.9 114.9S339 319.5 339 255.9 287.7 141 224.1 141zm0 189.6c-41.1 0-74.7-33.5-74.7-74.7s33.5-74.7 74.7-74.7 74.7 33.5 74.7 74.7-33.6 74.7-74.7 74.7zm146.4-194.3c0 14.9-12 26.8-26.8 26.8-14.9 0-26.8-12-26.8-26.8s12-26.8 26.8-26.8 26.8 12 26.8 26.8zm76.1 27.2c-1.7-35.9-9.9-67.7-36.2-93.9-26.2-26.2-58-34.4-93.9-36.2-37-2.1-147.9-2.1-184.9 0-35.8 1.7-67.6 9.9-93.9 36.1s-34.4 58-36.2 93.9c-2.1 37-2.1 147.9 0 184.9 1.7 35.9 9.9 67.7 36.2 93.9s58 34.4 93.9 36.2c37 2.1 147.9 2.1 184.9 0 35.9-1.7 67.7-9.9 93.9-36.2 26.2-26.2 34.4-58 36.2-93.9 2.1-37 2.1-147.8 0-184.8zM398.8 388c-7.8 19.6-22.9 34.7-42.6 42.6-29.5 11.7-99.5 9-132.1 9s-102.7 2.6-132.1-9c-19.6-7.8-34.7-22.9-42.6-42.6-11.7-29.5-9-99.5-9-132.1s-2.6-102.7 9-132.1c7.8-19.6 22.9-34.7 42.6-42.6 29.5-11.7 99.5-9 132.1-9s102.7-2.6 132.1 9c19.6 7.8 34.7 22.9 42.6 42.6 11.7 29.5 9 99.5 9 132.1s2.7 102.7-9 132.1z"></path></svg>
    li.page-footer__socitem
      a.page-footer__link
        .page-footer__linkInner
          <svg class="page-footer__svg" viewBox="0 0 576 512"><path fill="currentColor" d="M549.655 124.083c-6.281-23.65-24.787-42.276-48.284-48.597C458.781 64 288 64 288 64S117.22 64 74.629 75.486c-23.497 6.322-42.003 24.947-48.284 48.597-11.412 42.867-11.412 132.305-11.412 132.305s0 89.438 11.412 132.305c6.281 23.65 24.787 41.5 48.284 47.821C117.22 448 288 448 288 448s170.78 0 213.371-11.486c23.497-6.321 42.003-24.171 48.284-47.821 11.412-42.867 11.412-132.305 11.412-132.305s0-89.438-11.412-132.305zm-317.51 213.508V175.185l142.739 81.205-142.739 81.201z"></path></svg>


//- block append page-bottom
//-   script(src='js/some.js')
